.home {
    display: flex;
    flex-direction: column;
}

.home-top {
    display: flex;
}

.home-bottom {
    display: flex;
    justify-content: flex-end;
    .sub-title {
        font-family: $text-font-family;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        bottom: 40px;
        margin-right: 50px;
    }
}


.home-left {
    background-color: $main-color-light;
    height: $body-height;
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;


    .main-title {
        text-align: right;
        width: 350px;
        margin: 20px;
        margin-bottom: 175px;
    }
}

.home-right {
    background-color: $main-color;
    height: $body-height;
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .main-title {
        justify-content: center;
        width: 100px;
        margin: 20px;
        margin-top: 175px;

    }
}

