.card {
    background-color: $card-color;
    padding: 30px;
    border-radius: 15px;
    width: 80vw;
    max-height: 50%;
    overflow: scroll;
}

.section-header {
    margin: 0 0 20px 20px;

    .section-title {
        margin: 0;
        font-size: 42px;

    }
    .section-subtitle {
        margin: 10px 0 0 0;
        font-size: 18px;
    }
}



.card-body {
    margin: 40px 20px;

    &.center {
        margin: 20px;
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
}

.hide {
    display: none;
}

