.card {
    background-color: $card-color;
    padding: 30px;
    border-radius: 15px;
    min-width: 50vw;
}

.section-header {
    margin: 0 0 20px 20px;

    .section-title {
        margin: 0;
    }
    .section-subtitle {
        margin: 10px 0 0 0;
        font-size: 18px;
    }
}



.card-body {
    margin: 40px 20px;
}

.hide {
    display: none;
}

